*{
  /* border: 1px solid red; */
  text-decoration: none
}
body{
  background: #F4E1E1;
}
.bgTiket{
  content:' ';
  height: 180px;
  background: #ff5555;
  width: 100%;
}
li{
  list-style:none;
  line-height: 40px
}
.categoryList{
  color:'white'!important;
  cursor:'pointer';
  font-weight:'bolder';
}
span{
        margin-left: '20px';
        font-size: '20px';
        font-weight: 'bolder';
        color: '#444';
        padding-bottom:'50px';
}
/* .bgTiket::after{ */
  /* content: ' ';
  width: 40px;
  position: absolute;
  bottom: 143px;
  right: 180px;
  height: 40px;
  border-radius: 100px;
  background: white
} */